@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: #E8491D;
  font-size: 0.8rem;
  border: none;
  color: #FFFFFF;
  padding: 0.2rem 0.5rem;
}

.header_main {
  background-color: #35424A;
  color: #FFFFFF;
  border-bottom: 0.2rem solid #E8491D;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav .header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1025px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header {
  padding: 1rem 0.2rem;
}

.header__h1 {
  font-size: 1.4rem;
  margin: 1rem 0;
}

.header__span {
  color: #E8491D;
}

.header__items {
  list-style: none;
}

.header__link {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  cursor: pointer;
}

.header__link i {
  margin-right: 0.2rem;
}

@media (min-width: 1025px) {
  .header__h1 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  .header__link {
    font-size: 1rem;
  }
  .header__link:hover {
    color: #aaa;
    text-decoration: underline;
  }
}

.active {
  color: #E8491D;
}

.showcase {
  min-height: 40vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/showcase.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/showcase.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0.5rem 0.2rem;
  text-align: center;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.showcase__header {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.showcase__paragraph {
  font-size: 0.8rem;
  line-height: 1.4;
}

@media (min-width: 1025px) {
  .showcase__header {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  .showcase__paragraph {
    font-size: 1.2rem;
    line-height: 1.6;
  }
}

.subscribe_main {
  background-color: #35424A;
  padding: 1rem 0.2rem;
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe_main .subscribe__paragraph {
  text-align: center;
  color: #FFFFFF;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.subscribe_main .subscribe__form {
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe_main .subscribe__form--input, .subscribe_main .subscribe__form--button {
  margin: 0.2rem 0;
  padding: 0.5rem 0.2rem;
}

@media (min-width: 1025px) {
  .subscribe_main {
    min-height: 10vh;
  }
  .subscribe_main .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .subscribe_main .subscribe__paragraph {
    margin-bottom: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .subscribe_main .subscribe__form {
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .subscribe_main .subscribe__form--input {
    margin-right: 0.2rem;
  }
  .subscribe_main .subscribe__form--button {
    padding: 0.5rem 1rem;
  }
}
/*# sourceMappingURL=index.css.map */