.container {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: $bg-orange;
  font-size: 0.8rem;
  border: none;
  color: $color-white;
  padding: 0.2rem 0.5rem;
}